* {
    box-sizing: border-box;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
span, a, label {
    display: inline-block;
}
*::after,*::before{
    box-sizing: border-box;
}
.box{
    background-color: black;
    max-width: auto;
    min-height: 700px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.div{
    position: absolute;
    margin-right: 150px;
    width:100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
     animation: raund 2.4s linear infinite;
}
.box div:nth-child(1){
    opacity: 0;
    animation-delay: 0.8s;
}
.box div:nth-child(2){
    opacity: 0;
    animation-delay: 1.6s;
}
.box div:nth-child(3){
    opacity: 0;
    animation-delay: 2.4s;
}
@keyframes raund{
    0%{
        transform:translate(-100px) scale(0);
        opacity: 0;
    }
    25%{
        transform: translate(-300px) scale(1.6);
        opacity: 0.3;

    }
    50%{
        transform: translateX(200px) scale(2);
        opacity: 1;
    }
    75%{
        transform: translateX(500px)scale(1.6);
        opacity: 0.3;
    }
    100%{
        transform: translateX(200px) scale(0);
        opacity: 0;
    }
}
@media(max-width:1050px){
    .big{
        padding: 20px;
    }
    .div{
        width: 70px;
        height: 70px;
    }
    @keyframes raund{
        0%{
            transform:translateX(-100px) scale(0);
            opacity: 0;
        }
        25%{
            transform: translateX(-300px) scale(1.6);
            opacity: 0.3;
    
        }
        50%{
            transform: translateX(100px) scale(2);
            opacity: 1;
        }
        75%{
            transform: translateX(400px)scale(1.6);
            opacity: 0.3;
        }
        100%{
            transform: translateX(200px) scale(0);
            opacity: 0;
        }
    }
}
@media(max-width:850px){
    @keyframes raund{
        0%{
            transform:translateX(-100px) scale(0);
            opacity: 0;
        }
        25%{
            transform: translateX(-100px) scale(1.6);
            opacity: 0.3;
    
        }
        50%{
            transform: translateX(100px) scale(2);
            opacity: 1;
        }
        75%{
            transform: translateX(300px)scale(1.6);
            opacity: 0.3;
        }
        100%{
            transform: translateX(200px) scale(0);
            opacity: 0;
        }
    }
}
@media(max-width:600px){
    .div{
        width: 50px;
        height: 50px;
    }
    @keyframes raund{
        0%{
            transform:translateX(-100px) scale(0);
            opacity: 0;
        }
        25%{
            transform: translateX(-110px) scale(1.6);
            opacity: 0.3;
    
        }
        50%{
            transform: translateX(100px) scale(2);
            opacity: 1;
        }
        75%{
            transform: translateX(250px)scale(1.6);
            opacity: 0.3;
        }
        100%{
            transform: translateX(200px) scale(0);
            opacity: 0;
        }
    }
}
@media(max-width:430px){
    .div{
        width: 30px;
        height: 30px;
    }
    @keyframes raund{
        0%{
            transform:translateX(-80px) scale(0);
            opacity: 0;
        }
        25%{
            transform: translateX(-50px) scale(1.6);
            opacity: 0.3;
    
        }
        50%{
            transform: translateX(80px) scale(2);
            opacity: 1;
        }
        75%{
            transform: translateX(180px)scale(1.6);
            opacity: 0.3;
        }
        100%{
            transform: translateX(200px) scale(0);
            opacity: 0;
        }
    }
}




